.text-primary{
    color: #FF8811 !important ;
}
header i{
    color: #4e4d4d ;
}
header i:hover{
    color: #FF8811;
}
nav{
    /* background-color: #FF8811; */
    /* background: linear-gradient( 45deg, #C7EF00, #FF8811 ,#CA054D); */