.text-primary{
    color: #FF8811 !important ;
}
header i{
    color: #4e4d4d ;
}
header i:hover{
    color: #FF8811;
}
nav{
    /* background-color: #FF8811; */
    /* background: linear-gradient( 45deg, #C7EF00, #FF8811 ,#CA054D); */
}
nav ul.navbar-nav li:hover{
    background:linear-gradient(45deg, #e09027, #f18921 ,#f8a35e)
}
nav.navbar{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
nav a, a.navbar-brand{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    font-size: 24px ;
}
/* carousel */
.main-slider img{
    max-height: 80vh!important;
    max-width: 200v78h!important;
    
}
.carousel-item .carousel-caption{
    background: linear-gradient(45deg,#EFCA08,#F49F0A,#F08700)
}


/* timetable */
.timetable{
    padding-top: 80px;
    padding-bottom: 80px;
}

.timetable p.title{
    background: linear-gradient(to left,#e09027, #f18921 ,#f8a35e);
    color:#fdfdfd;
    padding: 16px;
    font-size: 24px;
    font-weight: 400;
}
.timetable img{
    width: 100px;
    height: 100px;
    /* from 50% it will be round shape */
    border-radius: 50%;
    }

    .row-x{
        padding: 20px;
    }
    .btn-custom{
        background: linear-gradient(to left,#e09027, #f18921 ,#f8a35e);
        border-radius: 0% IM !important ;
        color: #fdfdfd;
    }
    .btn-custom:hover{
        background: linear-gradient( to right,#e09027, #f18921 ,#f8a35e);
        transition: .7s,ease-in-out;
        color: #fdfdfd;
    }
    .call-to-action{
        background-image: url('../images/daniil-komov-eafpg2fonZg-unsplash.jpg'); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .py-10{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .prank{
        background:#51E5FF;
    }
    .indifinite{
        background: #CAE5FF;
    }
    .title.pop{
        padding-bottom: 20px;
    }
    footer.upper-footer{
        background-color: #22183d;
    }
